# php storm/ web storm file
/.idea

# build files
/.next
/out
/build

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

backend/server/node_modules

# environment files
.env

# local env files
.env*.local

# vercel
frontend/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts